{%- import 'syntax.sql.jinja' as syntax -%}
CREATE TABLE catalog__icd10_cohort{% if name != "cohort" %}_{{ name }}{% endif %} AS
WITH
{%- if name == "cohort" %}
    icd10 AS (
        SELECT DISTINCT
            code,
            code_display,
            subject_ref,
            encounter_ref
        FROM core__condition
        WHERE system = 'http://hl7.org/fhir/sid/icd-10-cm'
    ),
{%- endif %}
cohort AS (

    SELECT 
        tree.cui1,
        tree.cui2,
        {%- if name == "cohort" %}
            tree.depth,
            icd10.code,
            icd10.code_display,
            p.gender,
            p.race_display,
            p.ethnicity_display,
            e.age_at_visit,
            e.class_code,
            e.servicetype_display,
            icd10.subject_ref,
            icd10.encounter_ref,
            e.status
        {%- elif name == "category" %}
            tree.code AS icd10_category,
            concat('(', tree.code, ') ', tree.str) AS icd10_category_display,
            substring(c.code,1,3) as code_start,
            c.code AS icd10_code,
        {%- elif name == "block" %}
            tree.code AS icd10_block,
            tree.str AS icd10_block_display,
            c.icd10_category,
            c.icd10_code,
        {%- elif name == "chapter" %}
            tree.code AS icd10_chapter,
            tree.str AS icd10_chapter_display,
            c.icd10_block,
            c.icd10_code,
        {%- elif name == "code" %}
            tree.code AS icd10_code_parent,   -- parent
            concat('(', tree.code, ') ', tree.str) AS icd10_code_parent_display,
            c.code AS icd10_code_child,   -- child
            substring(c.code,1,5) as code_start,
        {%- endif %}
    {%- if name != "cohort" %}
            c.class_code,
            c.servicetype_display,
            c.age_at_visit,
            c.gender,
            c.race_display,
            c.ethnicity_display,
            c.subject_ref,
            c.encounter_ref,
            c.status
        {%- endif %}
    FROM
    {%- if name == "cohort" %}
            icd10,
            core__encounter AS e,
            core__patient AS p,
            umls.icd10_tree AS tree
    {%- elif name == "category" %}
            catalog__icd10_cohort AS c,
            umls.icd10_tree AS tree
    {%- elif name == "block" %}
            catalog__icd10_cohort_category AS c,
            umls.icd10_block AS tree
    {%- elif name == "chapter" %}
            catalog__icd10_cohort_block AS c,
            umls.icd10_chapter AS tree
    {%- elif name == "code"%}
            catalog__icd10_cohort AS c,
            umls.icd10_code AS tree
    {%- endif %}
    {%- if name == "cohort" %}
    WHERE
        icd10.code = tree.code
        AND icd10.encounter_ref = e.encounter_ref
        AND icd10.subject_ref = p.subject_ref
    {%- elif name == "block" or name =="chapter" %}
    WHERE
        c.cui1 = tree.cui2
    {%-endif %}


)
SELECT DISTINCT
    cui1,
    cui2,
    {%  if name == "cohort" %}
        code,
        code_display,
    {% elif name == "category" %}
        icd10_code,
        icd10_category,
        icd10_category_display,
    {%- elif name == "code" %}
        icd10_code_parent,
        icd10_code_parent_display,
        icd10_code_child,
    {%- else %}
        icd10_code,
        icd10_{{ name }},
        icd10_{{ name }}_display,
    {%- endif %}
    class_code,
    servicetype_display,
    age_at_visit,
    gender,
    race_display,
    ethnicity_display,
    subject_ref,
    encounter_ref,
    status
FROM cohort
    {%- if name == "category" %}
    WHERE
        icd10_category = code_start
    {%- elif name == "code" %}
    WHERE
        icd10_code_parent = code_start
    {%- endif %}
